#### Imports

In [2]:
import pandas as pd

#### Loading Dataset

In [3]:
dataset_SEMOP = pd.read_csv('..\ingestion-layer\pref_salvador_full.csv', delimiter=';')

tbl = pd.DataFrame(dataset_SEMOP)
salario = tbl['salario']

#### Displaying

In [4]:
display(tbl)

,id,cpf,nome,vinculo,situacao,salario,margem_desconto,margem_liquido,margem_cartao_bruto,margem_cartao_desconto,margem_cartao_liquido,margem_cartao_beneficio_bruto_compra,margem_cartao_beneficio_desconto_compra,margem_cartao_beneficio_liquido_compra,margem_cartao_beneficio_bruto_saque,margem_cartao_beneficio_desconto_saque,margem_cartao_beneficio_liquido_saque
0,17211,95566,JAQUELINE OLIVEIRA CRUZ CAVALCANTE,ESTATUTARIO,Ativo - TRABALHANDO,1112.10,0.00,785.75,317.74,0.0,317.74,317.74,0.0,317.74,222.42,0.0,222.42
1,9019,2536,DENISE CASTRO DE OLIVEIRA PUGLIESI,ESTATUTARIO,Suspenso - SEM MARGEM MÊS ATUAL,0.00,0.00,0.00,0.00,0.0,0.00,0.00,0.0,0.00,0.00,0.0,0.00
2,14714,96520,HELCIO JOSE LOBOSCO TRIGUEIRO,APOSENTADO,Ativo - TRABALHANDO,7877.19,0.00,7877.19,2250.63,0.0,2250.63,2250.63,0.0,2250.63,1575.44,0.0,1575.44
3,15842,46543,ISABELA LIMA DE OLIVEIRA CAVALCANTI,ESTATUTARIO,Ativo - TRABALHANDO,999.75,0.00,802.76,285.64,0.0,285.64,285.64,0.0,285.64,199.95,0.0,199.95
4,35358,16552,TEMARIA SANTANA DA SILVA,ESTATUTARIO,Ativo - TRABALHANDO,1298.12,0.00,1298.12,370.89,0.0,370.89,370.89,0.0,370.89,259.62,0.0,259.62
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35054,27613,94572,MILENA CARNEIRO DA SILVA,ESTATUTARIO,Ativo - TRABALHANDO,1420.53,0.00,1420.53,405.87,0.0,405.87,405.87,0.0,405.87,284.11,0.0,284.11
35055,28662,39520,NEWMAR EDWIN FERREIRA DE SOUZA,ESTATUTARIO,Ativo - TRABALHANDO,1159.07,0.00,734.38,331.16,0.0,331.16,331.16,0.0,331.16,231.81,0.0,231.81
35056,37162,77549,WAGNER BARBOSA DA GAMA,ESTATUTARIO,Ativo - TRABALHANDO,1128.47,23.28,3.64,322.42,0.0,122.71,322.42,0.0,237.29,225.69,0.0,140.56
35057,11272,63515,ELIS REGINA DO ESPIRITO S PEREIRA,ESTATUTARIO,Ativo - TRABALHANDO,1731.24,225.60,709.47,494.64,0.0,73.99,494.64,0.0,494.64,346.25,0.0,346.25
35058,29825,63568,PAULA CRISTINA SOUZA RIBEIRO,ESTATUTARIO,Ativo - TRABALHANDO,924.17,0.00,405.59,264.05,0.0,264.05,264.04,0.0,264.04,184.83,0.0,184.83

#### Row x Columns Number

In [5]:
print(f'Rows: {tbl.shape[0]} | Columns: {tbl.shape[1]}')

Rows: 35059 | Columns: 17

#### Data Types

In [6]:
tbl.dtypes

id                                           int64
cpf                                          int64
nome                                        object
vinculo                                     object
situacao                                    object
salario                                    float64
margem_desconto                            float64
margem_liquido                             float64
margem_cartao_bruto                        float64
margem_cartao_desconto                     float64
margem_cartao_liquido                      float64
margem_cartao_beneficio_bruto_compra       float64
margem_cartao_beneficio_desconto_compra    float64
margem_cartao_beneficio_liquido_compra     float64
margem_cartao_beneficio_bruto_saque        float64
margem_cartao_beneficio_desconto_saque     float64
margem_cartao_beneficio_liquido_saque      float64
dtype: object

#### Mean

In [7]:
print(f"Média Salarial: R${salario.mean():.2f}")

Média Salarial: R$1450.35

#### Median

In [8]:
print(f"Mediana Salarial: R${salario.median():.2f}")

Mediana Salarial: R$1159.67

#### Amplitude Total

In [9]:
print(f"AT: Vmax - Vmin = {salario.max() - salario.min()}")

AT: Vmax - Vmin = 11636.41

#### Desvio Médio DM

In [10]:
print(f"DM: (Soma Total) / Média = {salario.sum() - salario.median():.2f}")

DM: (Soma Total) / Média = 50846524.72

#### Variância Amostral

In [14]:
print(f"Resultado = {salario.var():.2f}")

Resultado = 1122675.15

#### Desvio Padrão

In [13]:
print(f"Resultado = {salario.std():.2f}")

Resultado = 1059.56